@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Noto+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inter:wght@300;400;500;600;700&family=Noto+Sans:ital@1&display=swap');
header {
    background-image: url('../img/filmes.png');
    background-size: cover;
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}
h1 {
    font-family: "Noto Sans";
    font-size: 4rem;
    color: white;
    grid-row-start: 5;
    grid-column: 2 /8;
}
h2 {
    font-family: "Inter";
    font-weight: 300;
    font-size: 1.5rem;
    color: white;
    grid-row-start: 7;
    grid-column: 2 /8;

}
nav {
    grid-column: 1/11;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo_image {
    width: 92px;
    height: 72px;
}
.logo_titulo {
    font-family: "Delicious Handrawn";
    color: white;
    font-size: 1.3rem;
}
li {
    margin-right: 16px;
    display: inline-block;
    color: white;
}
a {
    font-family: "Noto Sans";
    text-decoration: none;
    color: white;
    font-family: "Noto Sans";
    font-weight: 300;
    font-size: 1.3rem;
}
.home {
    color: #fd0178;
    display: inline-flex;
    flex-direction: column;
    font-weight: bold;
}
hr {
    margin-top: 4px;
    width: 42px;
    display: inline;
    border-color: #fd0178;
}
.btn {
    grid-row-start: 8;
    grid-column: 2 /8;
    display: flex;
}
.btn_start {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fd0178;
    border-radius: 40px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 400px){
    .links {
        display: none;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 400px){
    .links {
        display: none;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h1 {
        grid-row-start: 4;
        grid-column: 2 /8;
    }
    h2 {
        grid-row-start: 8;
        grid-column: 2 /8;
    }
}
h6 {
    color: white;
}
.caracteristicas_titulo {
    text-align: center;
    color: white;
    font-size: 40px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    width: 650px;
    gap: 30px;
    margin-left: 600px;

}
.grid h4 {

    margin-left: 50px;
    margin-right: 50px;
    
}
.caracteristicas_bloco1 {
    color:white;
    text-align: center;
    background-color:rgb(39, 10, 64);
    
}
.caracteristicas_bloco2 {
    color:white;
    text-align: center;
    background-color:rgb(39, 10, 64);
    
}
.caracteristicas_bloco3 {
    color:white;
    text-align: center;
    background-color:rgb(39, 10, 64);
    
}
.caracteristicas_bloco4 {
    color:white;
    
    text-align: center;
    background-color:rgb(39, 10, 64);
}

main {
    background-color: rgb(24, 6, 40);
}
body {
    background-color: rgb(24, 6, 40);
}
.movie {
    margin-top: 400px;
    display: flex;
    justify-content: flex;
    gap: 30px;
    padding-bottom: 25px;
    overflow-x: hidden;
    overflow-y:scroll;
    height: 800px;
    white-space:nowrap;
    margin-top: 300px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
    height: 845px;
    width: 1250px;
    cursor: pointer;
    display:inline-block;
    background-color: rgb(39, 10, 64);
    vertical-align:top;
}
.atropos-inner {
    height: 700px;
    display: list-item;
}
#titulo {
   display: block;
   margin-left: 30px;
   margin-right: 80px;
   text-align: center;

}
footer {
    font-size: 20px;
}